#container {
    width: 500px;
    margin: 10px auto;
}

.mGrid
{
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse:collapse;
}
.mGrid td
{
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #717171;
}
.mGrid th 
{
    padding: 4px 2px;
    color: #fff;
    background: #424242 url(../../Imagenes/GridView/grd_head.png) repeat-x top;
    border-left: solid 1px #525252;
    font-size: 0.9em;
}
.mGrid .alt
{
    background: #fcfcfc url(../../Imagenes/GridView/grd_alt.png) repeat-x top;
}
.mGrid .pgr
{
    background: #424242 url(../../Imagenes/GridView/grd_pgr.png) repeat-x top;
}
.mGrid .pgr table
{
    margin: 5px 0;
}
.mGrid .pgr td
{
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #fff;
    line-height: 12px;
}   
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }

.mqGrid { width: 100%; background-color: #FFFFFF; margin: 0px 0 0px 0; border: solid 0px #FFFFFF; border-collapse:collapse; }
    .mqGrid td { padding: 0px; border: solid 0px #FFFFFF; color: #FFFFFF; }
    .mqGrid th { padding: 0px 0px; color: #FFFFFF; background: #FFFFFF url(../../Imagenes/GridView/grd_head.png) repeat-x top; border-left: solid 1px #FFFFFF; font-size: 0.9em; }
.mqGrid .alt { background: #FFFFFF url(../../Imagenes/GridView/grd_alt.png) repeat-x top; }
.mqGrid .pgr {background: #FFFFFF url(../../Imagenes/GridView/grd_pgr.png) repeat-x top; }
    .mqGrid .pgr table { margin: 0px 0; }
    .mqGrid .pgr td { border-width: 0; padding: 0 0px; border-left: solid 0px #FFFFFF; font-weight: bold; color:#FFFFFF; line-height: 0px; }   
    .mqGrid .pgr a { color: #666; text-decoration: none; }
    .mqGrid .pgr a:hover { color: #FFFFFF; text-decoration: none; }